<template>

  <div class="container-flex fixed-top">

      <div class="dropdown d-xl-block d-lg-none d-md-none d-sm-block mr-auto">
        <v-btn
          class="ma-2"
          color="orange"
          @click="expand = !expand"
        >
           <img style="width:30px" src="../../assets/menu.png"  >
        </v-btn>

        <v-expand-transition>
          <v-card
            v-show="expand"
            height="auto"
            width="auto"
            class="mx-left secondary text-center"
          >
            <span class="navbar-item bc ">
              <router-link class="dropdown-item " to="/" exact>Accueil</router-link>
              <router-link class="dropdown-item" to="/plats">Plats</router-link>
              <router-link class="dropdown-item" to="/contact">Contact</router-link>

            </span>
          </v-card>
        </v-expand-transition>

      </div>
      <nav class="navbar navbar-light " >
        <!--Logo-->
        <a class="navbar-brand py-0 pl-5">
            <img src="@/assets/logo.png" width="50" height="50">
        </a>
        <!--Header navigation-->
        <span class="navbar-item bc d-none d-md-block d-sm-none d-lg-block ">
          <router-link class="pl-5 " to="/" exact>Accueil</router-link>
          <router-link class="px-5" to="/plats">Plats</router-link>
          <router-link class="px-5" to="/contact">Contact</router-link>

        </span>

        <v-spacer></v-spacer>
          <div class="bag mr-6" @click="openCart">
              <img class="pb-1" src="@/assets/cart.svg">
              <span class="mb-3" v-if="this.bagItemscount > 0">{{ bagItemscount }}</span>
          </div>

          <div class="searc  d-xl-block d-sm-block d-md-block d-lg-block pr-3">
            <input v-model="search" type="search" class="search">
          </div>

          <v-spacer></v-spacer>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Signup
            </button>

      </nav>
       <!--Cart Component-->
      <Cart ref="cartMove" />

  </div>

</template>

<script>
import Cart from '@/components/HeaderPage/Panier.vue'
import Login from '@/components/HeaderPage/Login.vue'



export default {
  name: 'Header',
  components: {
    Cart,Login
  },
    data: () => ({
    search: "",
    expand: false,
    }),
  created () {
    this.search = this.getSearch

  },

  computed: {
    bagItemscount () {
      return this.$store.getters.itemsNumber
    },
    getSearch () {
      return this.$store.state.search
    },

  },
  methods: {
    openCart () {
      this.$refs.cartMove.cartON()
    },

  }
}
</script>

<style>

.logos{
  margin: 20px;
}
.col-lg-1{
  margin: 0px;
}

nav {
}
.navbar {
  border-bottom: 1px solid orange;
  background-color: #F8F8F8;
  height: auto;
}
.btn{
    border-radius: 20px ;
  margin-bottom: 2px;
}
.close {
  position:relative;
  bottom:20px;
  left:10px;
  font-size: 31px;
  color: #000;
}
.navbar-item.bc a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  margin: 5px;
  padding: 10px;
}

.dropdown-menu.hb a {
  font-size: 17px;
  text-decoration: none;
  color: black;
  padding: 5px;
}
.dropdown-item {
  font-size: 17px;
  text-decoration: none;
  color: black;
  padding: 5px;
}
.navbar-item.bc a:hover, .navbar-item.bc a:active {
  background: orange;
  color: #fff;
}
a.router-link-active {
  background:orange;
  border-radius: 20px ;
  color: white;
}

.btn-sm{
  border-radius: 0;
}

.search {
  outline: none;
  border: 1px #F8F8F8;
  background: #ededed url('../../assets/search.png') no-repeat 5px center;
  padding: 5px 8px 0px 26px;
  width: 150px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  margin-right: 10px;
  color: white;
}

.search:focus {
  width: 300px;
  border: solid 1px white;
  background-color: orange;
  border-color: black;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  box-shadow: 0 0 5px rgba(109, 207, 246, .5);
  backface-visibility: hidden;
  perspective: 1000;
}

form .btn-xl.btn-success.mt-3 {
  position: relative;
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
  width: 100%;
  height: 50px;
  font-size: 20px;
  outline:none;
  cursor: pointer;
  box-shadow: 0 26px 38px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bag span {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    position: absolute;
    font-size: 15px;
    line-height: 1;
    padding: 2px 3px 3px 3px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: -9px;
    bottom: 1rem;
}

.bag img {
  cursor: pointer;
  width: 30px;
  height: auto;
}

.user{
  margin-right: 20px;
  padding-top: 0px;
}

.user:hover {
  text-decoration: underline;
}

</style>
