
<template>
  <v-container>
        <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Signup
    </button>

        <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div v-if="mode == 'login'">
              <h5 class="modal-title" id="exampleModalLabel" >Connexion</h5>
            Vous n'avez pas de compte?  <a style="color:orange;margin:5px;" class="card__action btn btn-default" @click="switchToCreateAccount()">Inscription</a>
            </div>
            <div v-else>
              <h5 class="modal-title" id="exampleModalLabel">Inscription</h5>
              Avez-vous deja un compte ? <span class="card__action" @click="switchToLogin()">Connexion</span>

            </div>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
          <v-form class="px-3" ref="form">
            <div v-if="mode == 'login'">
              <div class="row">
                <div class="col-lg-12">
                <v-text-field
                  v-model="dataLogin.username"
                  label="Username"
                  required
                  prepend-icon="mdi-email-outline"
                  outline
                ></v-text-field>
                </div>
                <div class="col-lg-12">
                  <v-text-field
                  v-model="dataLogin.password"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  prepend-icon="mdi-form-textbox-password"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Mot de Pass"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>

                </div>
                <div class="col-lg-12" v-if="mode == 'login'">
                  <button @click="login(dataLogin)" type="button" class="btn btn-primary">Connexion</button>
                </div>
                <v-spacer></v-spacer>
                  <a style="font-size:20px;margin-left:5px;color:blue">forgot password</a>
              </div>
            </div>
            <div v-else>
                    <v-row>
                      <v-col
                        cols="12"
                        sm="6"
                      >
                        <v-text-field
                          v-model="dataUser.nom"
                          label="Nom"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                      >
                        <v-text-field
                          v-model="dataUser.prenom"
                          label="Prenom"
                        ></v-text-field>
                      </v-col>
                      <v-col
                        cols="12"
                        sm="6"
                      >
                        <v-text-field
                          v-model="dataUser.description"
                          label="Description"
                        ></v-text-field>
                      </v-col>

                      <v-col
                          class="d-flex"
                          cols="12"
                          sm="6"
                        >
                        <v-text-field
                          v-model="dataUser.username"
                          label="Username"
                          required
                          prepend-icon="mdi-email-outline"
                          outline
                        ></v-text-field>
                      </v-col>
                      <v-col
                          class="d-flex"
                          cols="12"
                          sm="6"
                        >
                  <v-text-field
                  v-model="dataUser.password"
                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                  :rules="[rules.required, rules.min]"
                  :type="show1 ? 'text' : 'password'"
                  name="input-10-1"
                  label="Password"
                  prepend-icon="mdi-form-textbox-password"
                  hint="At least 8 characters"
                  counter
                  @click:append="show1 = !show1"
                ></v-text-field>

                      </v-col>
                      <v-col
                          class="d-flex"
                          cols="12"
                          sm="6"
                        >
                          <v-radio-group v-model="dataUser.role">
                              <v-radio
                                v-for="n in roles"
                                :key="n"
                                :label="`Radio ${n}`"
                                :value="n"
                              ></v-radio>
                            </v-radio-group>

                </v-col>

                <v-col
                  cols="12"
                  sm="12"
                  md="12"
                >
                        <button type="button" class="btn btn-warning" @click="createUser(dataUser)" >Inscription</button>
                </v-col>


              </v-row>

            </div>
          </v-form>
          </div>
        </div>
      </div>
    </div>

  </v-container>
</template>

<script>

export default {
  name: 'Login',
  data () {
    return {

    }
  },
    created () {

  },

  computed: {
  },
  methods: {


  }
}
</script>

