<template>
  <v-container>

    <section>
       <div class="container-fluid">

        <div class="row">
          <div class="col-lg-12">
            <div class="features_items">
              <h2 class="title text-center">Les Restaurants <v-spacer></v-spacer> <span><input v-model="search" label="Search restaurants" type="search" class="search">
              </span></h2>
                <CardRestaurant :ListRestaurant="pageOfItems" />
                <div v-if="pageOfItems==''" class="container text-center" style="heigth:100px;background:orange;color:#fff">
                  <h4> Aucun resultat pour cette recherche</h4>
                </div>

              <div class="col-md-12">
                <jw-pagination  :items="filterProducts" @changePage="onChangePage" v-model="page" :length="8" :pageSize="8"></jw-pagination>
              </div>

            </div>
            </div>
        </div>
      </div>
  </section>
  </v-container>
</template>

<script>
import CardRestaurant from './CardRestaurant.vue'

export default {
  name: 'Restaurant',
  components:{
    CardRestaurant
    },
  data: () => ({
    ex3: { label: 'prix:min 100', val: 50, color: 'orange' },
    search: "",
    showCards: 8,
    model: null,
    tab: null,
    pagination: {},
    pageOfItems: [],
    restaurants:[],
    categories:[],
    promos:[],
    marques:[],
    modeles:[],
    modeles: [],
    years: [],

    category: '',
    marque: '',
    modele:"",
    anneeSelected: '',
    title:'',
    range: '100000',


  }),
  created () {
    this.restaurants = this.it
  },

  computed: {
    slicedCards () {
      return this.restaurants.slice(0, this.showCards)
    },

    it () {
      return this.$store.state.items
    },
    pages () {
      return this.pagination.rowsPerPage ? Math.ceil(this.restaurants.length / this.pagination.rowsPerPage) : 0
    },
    filterProducts: function () {
      return this.filterProductsByRange(this.filterProductsByCategory(this.filterProductsByMarque(this.filterProductsByTitle(this.restaurants))))
    },
    filterProductsByCategories: function () {
      return this.filterProductsByCategory(this.restaurants)
    },
    filteredPosts() {
      return this.restaurants.filter(restaurant =>
        restaurant.title.toLowerCase().includes(this.search.toLowerCase())
        ||
        restaurant.title.toLowerCase().includes(this.search.toLowerCase())
   );
   }

  },

  methods: {

        getRestaurant: function () {

      let axiosConfig = {
        headers: {
          'Content-Type': 'application/json;charset=UTF-8'
        }
      };
      axios
        .get(
          API_URL + '/user/role/prestataire',
          axiosConfig
        )
        .then((res) => {
          this.restaurants = res.data.items
          this.totalClient = res.data.count
           //console.log('CLIENT: ', err)
        })
        .catch((err) => {
          console.log('AXIOS ERROR: ', err)
        })
    },

    incCardNumber () {
      return this.showCards += 6
    },
    onCardClick(n){
      this.model = n - 1;
    },

    reSet () {
      return this.cards = this.it
    },

      addtoCart (it) {
      this.$store.commit('inCart', it)
    },
    sendInfo (it) {
      this.$store.commit('addtoInfo', it)
    },

    onChangePage (pageOfItems) {
      // update page of items
      this.pageOfItems = pageOfItems
    },

    filterProductsByCategory: function (restaurants) {
      if (this.category==null) {
        return restaurants
      }else{
      return restaurants.filter(product => !product.category.indexOf(this.category))
      }
    },

    filterProductsByMarque: function (restaurants) {
      if (this.marque==null) {
         return restaurants
      }else{
         return restaurants.filter(product => !product.marque.indexOf(this.marque))
      }

    },

    filterProductsByTitle: function (restaurants) {
      return restaurants.filter(product =>
        product.title.toLowerCase().includes(this.search.toLowerCase())
        ||
        product.description.toLowerCase().includes(this.search.toLowerCase())
      );

    },

    filterProductsByRange: function (restaurants) {
      return restaurants.filter(product => (product.price > 0 && product.price < this.range) ? product : '')
    }
  }
}
</script>
