<template>
<div class="container">

<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active" >
              <div class="col-sm-6">
                 <h1><span>Livraison</span>-Rapide</h1>
                <h2>Un service livraison </h2>
                <p> a votre disposition  </p>
                <button type="button" class="btn btn-default get">Commander</button>
              </div>
              <div class="col-sm-6">
                <img src="https://franceschipizza.com/wp-content/uploads/2016/04/livraison-pizzas-et-repas-midi-marseille-13008-13009-13010-13005-franceschi-pizza.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Vos</span>-Plats</h1>
                <h2>africain</h2>
                <p> sont ici </p>
                <button type="button" class="btn btn-default get">Commander</button>
              </div>
              <div class="col-sm-6">
                <img src="https://setalmaa.com/wp-content/uploads/242A9243-1300x867.jpg " class="girl img-responsive" alt="" />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>Menu</span>-Senegalais </h1>
                <h2>disponible</h2>
                <p>prix promotionnel</p>
                <button type="button" class="btn btn-default get">Commander</button>
              </div>
              <div class="col-sm-6">
                <img src="https://vudaf.com/wp-content/uploads/2020/07/Thiebou-Dieune-q.jpg" class="girl img-responsive" alt="" />
              </div>
            </div>

          </div>

          <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

<Restaurant />

</div>

</template>

<script>
import Restaurant from '@/components/HeaderPage/Restaurant'

export default {
  name: 'Accueil',
  components: {
    Restaurant
  },
  props: ['CardArray']

}
</script>

<style scoped>

</style>
