<template>
<v-container>

    <ContactForm />
</v-container>

</template>

<script>
import ContactForm from '@/components/ContactPage/ContactForm.vue'
export default {
  components: {
    ContactForm
  },
  data() {
    return {
         date: new Date().toISOString().substr(0, 7),
          menu: false,
          modal: false

    }
  },


}
</script>
