<template>
  <div>
    <Breadc />
    <Grid />
  </div>
</template>

<script>
import Breadc from '../components/PlatsPage/Breadc.vue'
import Grid from '../components/PlatsPage/Grid.vue'

export default {
  components: {
    Breadc, Grid
  }
}
</script>
