<template>
  <div>
    <transition-group name="fade" class="row " tag="div" >

      <div v-for="item in CardArray" class="col-12 col-lg-3" :key="item.id">
          <div class="card">
            <v-img
                max-height="130"
                max-width="250"
                :src="item.img"
                class="card-img-top "
                alt="Card image cap"
            ></v-img>

            <div class="overlay">
              <button type="button" class="btn btn-default add-to-cart" @click="addtoCart(item)"> <i class="fa fa-shopping-cart"></i>Add to</button>
              <router-link to="/Info"><button type="button" class="btn btn-default add-to-cart" @click="sendInfo(item)">Info</button></router-link>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.price }}  Fca</p>
            </div>
          </div>
      </div>
    </transition-group>
  </div>

</template>

<script>
export default {
  props: ['CardArray'],
  name: 'Card',
  methods: {
    addtoCart (it) {
      this.$store.commit('inCart', it)
    },
    sendInfo (it) {
      this.$store.commit('addtoInfo', it)
    }
  }
}
</script>

<style>
/* transition Group style */
.fade-move {
  transition: transform 1s;
}
/* Card Style */
.card {
  transition: 500ms;
  position: relative;
  overflow: hidden;
  max-height: 250px;
  max-width: 350px;

}

.card img {
  z-index: 1;
}

.card button {
  width: 140px;
  margin-bottom: 10px;
}

.card:hover img {
  filter: blur(4px);
}

.card:hover .overlay {
  opacity: 0.8;

}

.card .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 100;
  transition: all 0.3s ease-in;
}

.card:hover, .card:active {
  transform: scaleY(1.1) scaleX(1.06);
  box-shadow: 0 14px 98px rgba(0, 0, 0, 0.25), 0 0px 60px rgba(0, 0, 0, 0.22);
}
</style>
