<template>
  <div class="container grid">
    <div class="row justify-content-around">
      <div class="row col-12 pb-4 pr-1">
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TRIEZ PAR
            <span style="color:#f2be00;">{{ sortButton }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" @click="sortDate">Date</a>
            <a class="dropdown-item" @click="sortPrice" >Price</a>
            <a class="dropdown-item" @click="sortTrend">Trending</a>
          </div>
        </div>
        <v-spacer></v-spacer>
        <input v-model="search" label="Search Products" type="search" class="search">
      </div>
      <div class="row justify-content-center">
        <div class="col col-xl-3 col-lg-3 d-none d-lg-block d-xl-block">
          <div class="card-selector">
            <div class="card-body p-1" style="background:transparent">
                <v-expansion-panels >
                  <v-expansion-panel >
                    <v-expansion-panel-header style="background:rgba(0,0,0,0.5);color:orange">
                      <h4>Categories  +</h4>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content style="  background: #2c3539 !important;
              box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1), 0 26px 70px 0 rgba(0, 0, 0, 0.69);
            ;color:white">
                          <a @click="reSet ()" class="dropdown-item">All</a>
                          <a v-for="category in categories" :key="category.id" @click="sortI(category.name)" class="dropdown-item">{{category.name}}</a>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                  <v-expansion-panel >
                    <v-expansion-panel-header style="background:rgba(0,0,0,0.5);color:orange">
                      Price Range
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                          <div class="search-title">
                            <h5>Price Range</h5>
                            <br>
                            <slider @clicked="valueSlider"/>

                          </div>
                    </v-expansion-panel-content >
                  </v-expansion-panel>
                </v-expansion-panels>
            </div>
          </div>
        </div>
        <div class="row col-xl-9 col-lg-9 col-md-12 col-sm-12 col-xs-12 text-center">
          <div v-if="this.plats == 0" class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4 style="margin-left:9rem;margin-right:9rem">Sorry, we can't find a product with this features</h4>
          </div>
            <Card :CardArray="slicedCards" />
          <div class="col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 py-5">
            <button type="button" @click="incCardNumber" class="btn btn-outline-secondary btn-lg btn-block">More +</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import slider from './slider.vue'
import Card from './Card.vue'

export default {
  name: 'Grid',
  components: {
    slider, Card,
  },
  data () {
    return {
      search:"",
      plats: [],
      showCards: 8,
      sortButton: 'DEFAULT',
      activePicker: null,
      date: null,
      menu: false,
    }
  },
  created () {
    this.plats = this.it
  },
  computed: {
    it () {
      return this.$store.state.items
    },
    slicedCards () {
      return  this.plats.slice(0, this.showCards)
    },
    filterProducts: function () {
      return this.filterProductsByTitle(this.plats)
    },

  },
  methods: {
    incCardNumber () {
      return this.showCards += 6
    },
    valueSlider (value) {
      var x = value[0]
      var y = value[1]
      this.plats = this.it.filter((e) => x < e.price && e.price < y)
    },
    sortDate () {
      this.plats.sort((a, b) => (a.title.length * 2) - (b.title.length * 4))
      return this.sortButton = 'DATE'
    },
    sortPrice () {
      this.plats.sort((a, b) => a.price - b.price)
      return this.sortButton = 'PRICE'
    },
    sortTrend () {
      this.plats.sort((a, b) => a.type.length - b.type.length)
      return this.sortButton = 'TRENDING'
    },
    sortI (name) {
      this.plats = this.it.filter((e) => e.category.match(name))
    },
    filterProductsByTitle: function (products) {
      return plats.filter(product =>
        product.title.toLowerCase().includes(this.search.toLowerCase())
        ||
        product.description.toLowerCase().includes(this.search.toLowerCase())
      );

    },
    reSet () {
      return this.plats = this.it
    }
  }
}
</script>

<style>
.container.grid {
  min-height: 60rem;
}

.container.grid a {
  cursor: pointer !important;
}

.btn-light {
  color: black !important;
  background: white;
  border-radius: 0 !important;
  border: 1px solid grey !important;
}
.dropdown-menu{
  background-color: #eee;
  color: #2c3539;
}

.dropdown-menu > a:hover{
  background-color: #dae0e5

}

.btn-outline-secondary {
  border-radius: 0 !important;
}

/*search options*/

.card-selector {
  color: #DCDCDC;
  height: 40rem;
  background: #2c3539 !important;
  box-shadow: 0 8px 6px 0 rgba(0, 0, 0, 0.1), 0 26px 70px 0 rgba(0, 0, 0, 0.69);
}

.search-title h6 {
  cursor: pointer;
}

.circle {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  border: 0.7px solid #2c3539;
  display: inline-block;
  margin-left: 6px;
  cursor:pointer
}
.card-body{
  background: ;
}
</style>
