<template>
  <div id="search">
    <input style="background:black;color:white" type="text" v-model="search">
    <div style="background:red" class="m10" v-for="post in filteredPosts" :key="post.id">
       <p>{{post.id}}</p>
       <p>{{post.title}}</p>
       <p>{{post.body}}</p>
    </div>
  </div>
</template>

<script>
//import Post from "./components/Post";

export default {
  name: "posts",
  props:['posts'],
  components: {

  },
  data: () => ({
    search: "",
  }),
  computed: {
    filteredPosts() {
       let result= this.posts.filter(post =>
        post.body.toLowerCase().includes(this.search.toLowerCase())
        ||
        post.title.toLowerCase().includes(this.search.toLowerCase())

      );
      return result
    }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
