<template>
    <div @click="getValue('sli')">
      <vue-slider ref="sli" v-model="value" v-bind="options"></vue-slider>
      <span>Cfa{{ value.join(' ~ Fca') }}</span>
    </div>
</template>

<script>
import vueSlider from 'vue-slider-component'

export default {
  name: 'slider',
  components: {
    vueSlider
  },
  data () {
    return {
      value: [
        1000,
        200000
      ],
      options: {
        width: 'auto',
        height: 4,
        dotSize: 10,
        min: 1000,
        max: 200000,
        show: true,
        useKeyboard: true,
        tooltip: 'active',
        formatter: (v) => `$${v}`,
        mergeFormatter: (v1, v2) => `$${v1} ~ $${v2}`,
        processStyle: {
          backgroundColor: 'orange'
        }
      }
    }
  },
  methods: {
    getValue (name) {
      const slider = this.$refs[name]
      this.$emit('clicked', slider.getValue())
    }
  }
}
</script>
