<template>
  <v-app>
      <Header />

    <v-main >

      <v-container>
      <div class="view">

      <router-view/>
      </div>

      </v-container>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div v-if="mode == 'login'">
          <h5 class="modal-title" id="exampleModalLabel" >Connexion</h5>
         Vous n'avez pas de compte?  <a style="margin:5px;" class="card__action btn btn-warning" @click="switchToCreateAccount()">Inscription</a>
        </div>
        <div v-else>
          <h5 class="modal-title " id="exampleModalLabel">Inscription</h5>
          Avez-vous deja un compte ? <a class="card__action btn btn-success" @click="switchToLogin()">Connexion</a>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <v-form class="px-3" ref="form">
        <div v-if="mode == 'login'">
          <div class="row">
            <div class="col-lg-12">
            <v-text-field
              v-model="loginData.username"
              label="Username"
              required
              prepend-icon="mdi-email-outline"
              outline
            ></v-text-field>
            </div>
            <div class="col-lg-12">
              <v-text-field
              v-model="loginData.password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              prepend-icon="mdi-form-textbox-password"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Mot de Pass"
              counter
              @click:append="show1 = !show1"
            ></v-text-field>

            </div>
            <div class="col-lg-12" v-if="mode == 'login'">
               <!-- <button @click="login(loginData)" type="button" class="btn btn-primary">Connexion</button> -->
            </div>
            <v-spacer></v-spacer>
               <a style="font-size:20px;margin-left:5px;color:blue">forgot password</a>
          </div>
        </div>
        <div v-else>
                <v-row>
        <input @change="handleImage" class="custom-input" type="file" accept="image/*">
                  <v-col
                    cols="12"
                    sm="6"
                  >
                    <v-text-field
                      v-model="registerData.nom"
                      label="Nom"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                  >
                    <v-text-field
                      v-model="registerData.prenom"
                      label="Prenom"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                  >
                    <v-text-field
                      v-model="registerData.description"
                      label="Description"
                    ></v-text-field>
                  </v-col>

                  <v-col
                      class="d-flex"
                      cols="12"
                      sm="6"
                    >
                    <v-text-field
                      v-model="registerData.username"
                      label="Username"
                      required
                      prepend-icon="mdi-email-outline"
                      outline
                    ></v-text-field>
                  </v-col>
                  <v-col
                      class="d-flex"
                      cols="12"
                      sm="6"
                    >
              <v-text-field
              v-model="registerData.password"
              :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="show1 ? 'text' : 'password'"
              name="input-10-1"
              label="Password"
              prepend-icon="mdi-form-textbox-password"
              counter
              @click:append="show1 = !show1"
            ></v-text-field>

                  </v-col>
                  <v-col
                      class="d-flex"
                      cols="12"
                      sm="6"
                    >
                      <v-radio-group v-model="registerData.role">
                          <v-radio
                            v-for="n in roles"
                            :key="n"
                            :label="`Radio ${n}`"
                            :value="n"
                          ></v-radio>
                        </v-radio-group>

            </v-col>

            <v-col
              cols="12"
              sm="12"
              md="12"
            >
                    <button type="button" class="btn btn-warning" @click="register(registerData)" >Inscription</button>
            </v-col>


          </v-row>

        </div>
      </v-form>
      </div>
    </div>
  </div>
</div>
    </v-main>
  </v-app>
</template>

<script>
import Header from '@/components/HeaderPage/Header.vue'

const axios = require('axios')
const API_URL = 'http://localhost:3001/user/'

export default {
  name: 'App',
  components:{
Header
  },

  data: () => ({
      dialog: false,
      title:'',
      content:'',
      show1:false,
      restaurants:[],
      totalRestaurant:'',
      imageToB64:'',
      userConnected:{
        email:"",
        password:""
      },
      registerData:{
        nom:'',
        prenom:'',
        description:'',
        role:'',
        username:'',
        password:'',
        },
      roles:["customer","prestataire"],
      loginData:{
        username:"",
        password:""
      },
      due:null,
      menu1: false,
      mode: 'create',

  })
  ,
  mounted: function () {
    this.getRestaurants()
},
  computed: {
  },
  methods: {
    switchToCreateAccount: function () {
      this.mode = 'create';
    },
    switchToLogin: function () {
      this.mode = 'login';
    },
    login: function (dataLogin) {

      let axiosConfig = {
       headers: {
          'Content-Type': 'application/json;charset=UTF-8'
        }
      };

      axios
        .post(
          API_URL + 'login',
          dataLogin,
          axiosConfig
        )
        .then((res) => {
          if(res.data.hasError==false){
           this.$fire({
              type: 'success',
              title: 'Notification',
              text: res.data.message,
            })
          }else{
           this.$fire({
              type: 'error',
              title: 'Notification',
              text: 'verifier le formulaire',
            })
          }
         })
        .catch((err) => {
          console.log('AXIOS ERROR: ', err)
        })


    },
    register: function (registerData) {
      let axiosConfig = {
       headers: {
          'Content-Type': 'application/json;charset=UTF-8',
        }
      };
      axios
        .post(
          API_URL + 'register',
          registerData,
          axiosConfig
        )
        .then((res) => {
          if(res.data.hasError==false){
           this.$fire({
              type: 'success',
              title: 'Notification',
              text: res.data.message,
            })
          }else{
            this.$fire({
              type: 'error',
              title: 'Notification',
              text: 'verifier le formulaire',
            })
          }
         })
        .catch((err) => {
          console.log('AXIOS ERROR: ', err)
        })


    },
uploadImage(event,id) {

    let data = new FormData();
    data.append('file', event.target.files[0]);

    let config = {
      header : {
        'Content-Type' : 'image/png'
      }
    }

    axios.put(
      API_URL + 'uploadProfile/' + id,
      data,
      config
    ).then(
      response => {
        alert('image upload response > ', response)
      }
    )
  },
    handleImage(e) {
      const selectedImage = e.target.files[0]; // get first file
      //alert(this.createBase64Image(selectedImage));
      alert(selectedImage)
        axios.post('/upload', { image })
        .then((response) => {
          this.remoteUrl = response.data.url;
        })
        .catch((err) => {
          return new Error(err.message);
        })



    },
    createBase64Image(fileObject) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
        this.uploadImage();
      };
      reader.readAsDataURL(fileObject);
    },
    getRestaurants: function () {
      let axiosConfig = {
       headers: {
          'Content-Type': 'application/json;charset=UTF-8',
        }
      };

      axios
        .get(
          API_URL + 'restaurants')
        .then((res) => {
          this.restaurants=res.data.items;
          this.totalRestaurant = res.data.count
         })
        .catch((err) => {
          console.log('AXIOS ERROR: ', err)
          alert('AXIOS ERROR: ', err)
        })


    },

  }


}
</script>

<style scoped>
.view{
  margin-top: 100px;
}
</style>